    /* Cantact US*/
    
    #contactUs_container {
        /* background-color: #1a2572; */
        width: 100%;
        height: 100%;
        display: flex;
    }
    
    #contactus_formcontainer {
        width: 50%;
    }
    
    #contactusinfocontainer {
        width: 50%;
    }
    
    #cinfo {
        height: 30%;
        margin: 0;
    }
    
    #infoimg {
        height: 411px;
        width: 682px;
        box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px !important;
    }
    
    .w_10 {
        width: 10px;
    }
    
    .w_50_p {
        width: 50%;
    }
    
    .h_10 {
        height: 10px;
        ;
    }
    
    .boder {
        border: 2px;
    }
    


    #mainpanal{
        background: rgb(216,216,216);
        background: linear-gradient(0deg, rgba(216,216,216,0.25) 0%, rgba(255,255,255,1) 90%);
    }
    
    .contactustxt {
        width: 100%;
        height: 33px;
        border: 1px solid #ccc;
        border-radius: 30px;
        font-size: 15px;
        padding-left: 5px;
    }
    
    #contactustxtaria {
        width: 100%;
        height: 100px;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 20px;
    }
    
    #contactcard_with {
        padding: 0px 0px 50px 101px;
        width: 657px;
    }
    
    #contactusTabal {
        width: 100%;
        padding: 31px;
    }
    /* tool tip*/
    
    [data-tip] {
        position: relative;
    }
    
    [data-tip]:before {
        content: '';
        /* hides the tooltip when not hovered */
        display: none;
        content: '';
        display: none;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #3a3838;
        position: absolute;
        top: 30px;
        left: 35px;
        z-index: 8;
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
        position: absolute;
        top: 30px;
        left: 35px;
        z-index: 8;
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
    }
    
    [data-tip]:after {
        display: none;
        content: attr(data-tip);
        position: absolute;
        top: 35px;
        left: 0px;
        padding: 5px 8px;
        background: #3a3838;
        color: #fff;
        z-index: 9;
        font-size: 0.75em;
        height: 18px;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        white-space: nowrap;
        word-wrap: normal;
    }
    
    [data-tip]:hover:before,
    [data-tip]:hover:after {
        display: block;
    }
    
    #contactinfocard {
        display: flex;
        padding: 0 0 0 0;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    
    #contactimgcard {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
    }
    
    #captiontd {
        width: 225px;
    }
    
    #contactInfodetails {
        padding-left: 33px;
        padding-bottom: 12px;
    }
    
    #stack-top {
        height: 184px;
        position: absolute;
        top: 28.7%;
        left: 76.91%;
        border-radius: 10px;
    }
    
    #a56 {
        width: 30px;
    }
    
    .textborder {
        border-color: red !important;
        background-image: url(https://firebasestorage.googleapis.com/v0/b/hciapp-7355d.appspot.com/o/iconfinder_Warning_31226.png?alt=media&token=06d6770f-1237-4a3b-8df6-38f4fb27484d) !important;
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-size: 24px 24px !important;
        background-position: 98% 44% !important;
    }
    
    .alert-danger {
        color: red;
        font-size: 14px;
        padding-left: 16px;
    }
    
    div.mapcontaint>div {
        position: absolute !important;
        width: 682px !important;
        height: 411px !important;
    }
    
    div.mapcontaint>div>div {
        border-radius: 10px !important;
    }
    
    #stack-top>svg {
        border-radius: 40px !important;
    }
    
    h2 {
        margin-bottom: 5px !important;
        margin-left: 0px !important;
    }

    h1{
        margin-top: 0px;
        margin-bottom: 0;
    }
    hr.botem{margin: 0;}

    #phonestack-top{
        height: 112px;
        position: absolute;
        top: 11.1%;
        left: 14.5%;
        border-radius: 10px;
    }

    rect{
        fill: #0000ff00;
    }