/*Form Card Layout CSS*/
#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 20px 20px;
}
/*Form Card Layout CSS End */

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

#signup_container #signup_form {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}
#signup_container #signup_form #inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 0px;
}

#signup_container #signup_form #inputs #title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 0px;
}

#signup_container #signup_form #inputs input {
  width: 400px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #c2c2c2;
  outline: none;
  margin-bottom: 15px;
  text-align: center;
}

#signup_container #signup_form #inputs button {
  width: 200px;
  height: 50px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: #1b2473;
  color: #fff;
  margin-top: 20px;
}

#icons {
  width: 50px;
  position: absolute;
  display: block;
  margin-top: 150px;
  padding: 10px;
}

#input_one {
  text-align: center;
}


.newspaper {
  column-count: 2;
  column-gap: 50px;
}

h2 {
  margin-top: 0px !important;
  font-size: 26px;
  font-weight: 800;
  color: #343434;
  margin-bottom: 0px !important;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#signupImg {
  width: 110%;
  padding: 50px 0px 50px 50px;
}

#title_para {
  font-weight: 400;
}

#check_box {
  width: 40px !important;
  height: 15px !important;
  margin-bottom: 5px !important;
}

#checkbox_label {
  font-size: 12px !important;
  font-weight: 400 !important;
  padding-bottom: 10px !important;
}

#signup_container #signup_form #inputs select {
  margin-top: 5px;
  margin-bottom: 5px;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 40px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 40px;
  line-height: 1.42857143;
  padding: 5px 10px 4px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
#signup_container #signup_form #inputs option {
  border: none;
}

#input_one a {
  margin-top: 10px !important;
}
