/* theme colors */

/* navbar */

#navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar #logo {
  margin: 10px 0px 0px 50px;
}
#navbar #links {
  margin-right: 50px;
}
#navbar #links li {
  list-style: none;
  float: left;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

/* mobile nvbar button */

#mobnavBtn{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:orange;
  position: fixed;;
  bottom: 50px;
  float:right;
  right:50px;
  display:flex;
  align-items: center;
  justify-content: center;
}

/* buttons */

.button {
  border: 2px solid #1a2572;
  background: none;
  padding: 10px;
  width: 100px;
  border-radius: 40px;
  outline: none;
}

.login {
  font-weight: 600;
}

/* ---- */

#container {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

#container #hero {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#herotext {
  display: flex;
  flex-direction: column;
  margin: -10px 0px 0px 55px;
  color: #686868;
}
.intro {
  font-size: 50px;
  font-weight: 600;
}

.intro_sub {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

.intro_sub #location {
  font-weight: 500;
  color: #f26722;
  margin-left: 5px;
}

#drop {
  width:25px;
  height: 35px;
  margin-left: 5px;
  position: absolute;
  transition: 1s ease;
  cursor: pointer;
}

#search_container {
  display: flex;
  align-items: center;
  margin: 80px 0px 0px 50px;
}
#search {
  width: 75%;
  height: 60px;
  border-radius: 40px;
  border: none;
  background-color: #f0f0f0;
  outline: none;
  padding: 0px 0px 0px 130px;
  font-size: 20px;
}

#cat_btn {
  position: absolute;
  justify-content: center;
  margin-left: 25px;
  cursor: pointer;
  transition: 1s ease;
  border-right: 2px solid #b1afaf;
  padding-right: 15px;
}

#search_btn {
  position: absolute;
  justify-content: center;
  margin-left: 80px;
  cursor: pointer;
  transition: 1s ease;
}

#cat_btn:hover {
  transform: scale(1.2);
}

#right{
  display: flex;
    align-items: center;
    justify-content: center;
}

#hero_right {
  width: 90%;
  transition: 1s ease;
}

@media screen and (max-width: 950px) {
  #container #hero {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  #right {
    align-items: center;
    justify-content: center;
    display: flex;
    order: 1;
  }

  #left {
    align-items: center;
    justify-content: center;
    display: flex;
    order: 2;
    flex-direction: column;
  }

  #hero_right {
    width: 50%;
  }

  #herotext {
    margin: -10px 0px 0px 0px;
  }

  .intro {
    font-size: 30px;
  }
  .intro_sub {
    font-size: 15px;
  }

  #search_container {
    width: 90%;
    margin: 80px 0px 0px 0px;
  }
}

/* =====================
footer
===================== */

#footer {
  height: 100vh;
  width: 100%;
  background-color: #d8d8d83f;
}

#footer #footer_top {
  padding:60px 0px 0px 0px;
  height: 80px;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-around;
}

#footer #footer_top #logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#footer #footer_top #subs {
  display: flex;
  align-items: center;
}

#footer #footer_top #subs #subscribe_bar {
  width: 50%;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #58575785;
  background: none;
  outline: none;
  padding: 0px 0px 0px 80px;
  margin-left: 80px;
  font-size: 15px;
}

#subscribe_bar::placeholder {
  font-size: 15px;
  font-style: italic;
}

.filled {
  background: #1a2572;
  color: #fff;
}

.sub_btn {
  height: 40px;
  width: 130px;
  margin-left: 10px;
}

#mail_icon {
  position: absolute;
  margin-left: 100px;
  width: 20px;
}

#footer_links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 60px;
  font-weight: 600;
  font-size: 21.5;
}
#footer_links {
  display: flex;
}

#footer_links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#footer_links ul li:nth-child(1) {
  font-size: 18px;
  padding: 0px 0px 30px 0px;
}
#footer_links ul li:not(:nth-child(1)) {
  font-size: 15px;
  line-height: 35px;
  font-weight: 400;
}

#footer_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#footer_bottom  #f_left{

}

#footer_bottom  #f_right{
  display: flex;
  justify-content:center;
  align-items: center;
}

#footer_bottom  #f_left #pay_cards{
display: flex;
}

#pay_cards{
  margin:50px 0px 0px 125px;
}

#pay_card{
  width:40px;
  padding: 5px;
}

#copyright{
  margin:10px 0px 0px 125px;
  font-size: 12px;
}

#social{
  margin:50px 0px 0px 0px;
}

#s_links{
  margin-left:10px;
}


/* _______
location bar */
#loc_select{
  width:400px;
  outline: none !important;
  font-size: 18px;
  
}

.css-yk16xz-control{
  border-radius: 40px !important;
  outline: none !important;
  user-select: none;
  outline: none !important;
}

.css-1pahdxg-control{
  box-shadow: none !important;
  
}
.css-1pahdxg-control:hover{
  border-color: none !important;
}

/* ===========
Location toggle button animation */

.rotate{
  transform: rotate(-90deg);
}


#recentProducts{
  height:auto;
  width:100%;
  margin-top:100px;
}

#recent_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(250, 249, 249);
  padding: 30px 0px 20px 0px;
}

#recent_title{
  font-size: 25px;
  margin:20px 0px 40px 55px;
}

/* product card */

#cardBase{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px 0px 0px;
  width:calc(330px)

}

#card_container{
  width:90%;
  height:auto;
  border-radius: 10px;
  background-color:#fff;
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
}

#card_container img{
  width:100%;
  object-fit:contain;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#card_title{
  padding-left: 10px;
  font-size:18px;
  font-weight: 600;
}

#card_des{
  font-size: 12px;
  padding: 3px 0px 0px 10px;
}

#card_price{
  padding: 8px 0px 0px 10px;
  font-size: 25px;
  font-weight: 400;
}
#card_quantity{
  width:200px;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 5px;
}

#card_round_btn{
  border-radius: 50%;
  width:30px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 8px 5px 10px 5px;
  outline: none;
  border:none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}

#card_number{
  width:45px;
  height:25px;
  border-radius: 40px;
  outline: none;
  border:none;
  background-color: rgb(223, 222, 222);
  text-align: center;
}

#card_controllers{
  display: flex;
  right: 0;
  justify-content: flex-end;
  margin:0px 10px 10px 0px;
  padding:20px 0px 0px 0px;
}

#card_r_wishlist{
  border-radius: 50%;
  width:40px;
  height:40px;
  outline: none;
  border:none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}
#card_r_view{
  border-radius: 40px;
  width:100px;
  height:40px;
  font-size: 16px;
  outline: none;
  border:none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
  margin: 0px 3px 0px 0px;
}

#home_icons{
  height:calc(100vh / 1.5);
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
 

}

/* router link style */

a{
  color:#000;
}

/* category container */

#cat_section{
  height:100vh;
  overflow: hidden;
}
