/* theme colors */

/* navbar */

#navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar #logo {
  margin: 10px 0px 0px 50px;
}
#navbar #links {
  margin-right: 50px;
}
#navbar #links li {
  list-style: none;
  float: left;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

#location_bar {
  align-items: center;
  padding-left: 80px;
  display: flex;
  margin-top: 20px;
}
#profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  background-color: #c4c4c4;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user_menu {
  background-color: #fff;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 69px 120px 0px 0px;
  z-index: 9999;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

#user_menu li {
  text-align: right !important;
  width: auto;
  margin-left: 10px;
}

#profile i {
  color: #fff;
  font-size: 30px;
}

.pro_icons {
  margin: 0px 10px 0px 0px;
}

.pro_icons_logout {
  margin: 0px 10px 0px 0px;
}

.ar-user {
  font-size: 25px;
}

#bag {
  font-size: 35px;
  color: #696969;
}

#cart_li {
  position: relative;
}

#cart_total {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  padding: 2px;
  margin: 10px 0px 0px 0px;
  font-size: 15px;
  color: #fff;
  background-color: #1b2473;
  border-radius: 4px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mobile nvbar button */

#mobnavBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  position: fixed;
  bottom: 50px;
  float: right;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* buttons */

.button {
  border: 2px solid #1a2572;
  background: none;
  padding: 10px;
  width: 100px;
  border-radius: 40px;
  outline: none;
}

.login {
  font-weight: 600;
}

/* ---- */

#container {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

#container #hero {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#herotext {
  display: flex;
  flex-direction: column;
  margin: -10px 0px 0px 55px;
  color: #686868;
}
.intro {
  font-size: 50px;
  font-weight: 600;
}

.intro_sub {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

.intro_sub #location {
  font-weight: 500;
  color: #f26722;
  margin-left: 5px;
}

#drop {
  width: 25px;
  height: 35px;
  margin-left: 5px;
  position: absolute;
  transition: 1s ease;
  cursor: pointer;
}

#search_container {
  display: flex;
  align-items: center;
  margin: 80px 0px 0px 50px;
}
#search {
  width: 75%;
  height: 60px;
  border-radius: 40px;
  border: none;
  background-color: #f0f0f0;
  outline: none;
  padding: 0px 0px 0px 130px;
  font-size: 20px;
}

#cat_btn {
  position: absolute;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
  transition: 1s ease;
  /* border-right: 2px solid #b1afaf; */
  padding-right: 15px;
  width: 40px;
}

#separator {
  width: 2px;
  height: 20px;
  background-color: #9a9a9a;
  position: absolute;
  margin-left: 67px;
}

#search_btn {
  position: absolute;
  justify-content: center;
  margin-left: 82px;
  cursor: pointer;
  transition: 1s ease;
}

#cat_btn:hover {
  transform: scale(1.2);
}

#right {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero_right {
  width: 90%;
  transition: 1s ease;
}

@media screen and (max-width: 950px) {
  #container #hero {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  #right {
    align-items: center;
    justify-content: center;
    display: flex;
    order: 1;
  }
  #left {
    align-items: center;
    justify-content: center;
    display: flex;
    order: 2;
    flex-direction: column;
  }
  #hero_right {
    width: 50%;
  }
  #herotext {
    margin: -10px 0px 0px 0px;
  }
  .intro {
    font-size: 30px;
  }
  .intro_sub {
    font-size: 15px;
  }
  #search_container {
    width: 90%;
    margin: 80px 0px 0px 0px;
  }
}

/* =====================
footer
===================== */

#footer {
  height: 100vh;
  width: 100%;
  background-color: #d8d8d83f;
}

#footer #footer_top {
  padding: 60px 0px 0px 0px;
  height: 80px;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-around;
}

#footer #footer_top #logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#footer #footer_top #subs {
  display: flex;
  align-items: center;
}

#footer #footer_top #subs #subscribe_bar {
  width: 50%;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #58575785;
  background: none;
  outline: none;
  padding: 0px 0px 0px 80px;
  margin-left: 80px;
  font-size: 15px;
}

#subscribe_bar::placeholder {
  font-size: 15px;
  font-style: italic;
}

.filled {
  background: #1a2572;
  color: #fff;
}

.sub_btn {
  height: 40px;
  width: 130px;
  margin-left: 10px;
  cursor: pointer;
}

#mail_icon {
  position: absolute;
  margin-left: 100px;
  width: 20px;
}

#footer_links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 60px;
  font-weight: 600;
  font-size: 21.5;
}

#footer_links {
  display: flex;
}

#footer_links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#footer_links ul li:nth-child(1) {
  font-size: 18px;
  padding: 0px 0px 30px 0px;
}
#footer_links ul li:not(:nth-child(1)) {
  font-size: 15px;
  line-height: 35px;
  font-weight: 400;
}

#footer_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#footer_bottom #f_left {
}

#footer_bottom #f_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_bottom #f_left #pay_cards {
  display: flex;
}

#pay_cards {
  margin: 50px 0px 0px 125px;
}

#pay_card {
  width: 40px;
  padding: 5px;
}

#copyright {
  margin: 10px 0px 0px 125px;
  font-size: 12px;
}

#social {
  margin: 50px 0px 0px 0px;
}

#s_links {
  margin-left: 10px;
}

/* _______
location bar */
#loc_select {
  width: 400px;
  outline: none !important;
  font-size: 18px;
}

.css-yk16xz-control {
  border-radius: 40px !important;
  outline: none !important;
  user-select: none;
  outline: none !important;
}

.css-1pahdxg-control {
  box-shadow: none !important;
}
.css-1pahdxg-control:hover {
  border-color: none !important;
}

/* ===========
Location toggle button animation */

.rotate {
  transform: rotate(-90deg);
}

#recentProducts {
  height: auto;
  width: 100%;
  margin-top: 100px;
}

#recent_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(250, 249, 249);
  padding: 30px 0px 20px 0px;
}

#recent_title {
  font-size: 25px;
  margin: 20px 0px 40px 55px;
}

/* product card */

#cardBase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px 0px 0px;
  width: calc(330px);
}

#card_container {
  width: 90%;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

#card_container img {
  width: 100%;
  object-fit: contain;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#card_title {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

#card_des {
  font-size: 12px;
  padding: 3px 0px 0px 10px;
}

#card_price {
  padding: 8px 0px 0px 10px;
  font-size: 25px;
  font-weight: 400;
}
#card_quantity {
  width: 200px;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 5px;
}

#card_round_btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 8px 5px 10px 5px;
  outline: none;
  border: none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}

#card_number {
  width: 45px;
  height: 25px;
  border-radius: 40px;
  outline: none;
  border: none;
  background-color: rgb(223, 222, 222);
  text-align: center;
}

#card_controllers {
  display: flex;
  right: 0;
  justify-content: flex-end;
  margin: 0px 10px 10px 0px;
  padding: 20px 0px 0px 0px;
}

#card_r_wishlist {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}
#card_r_view {
  border-radius: 40px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
  margin: 0px 3px 0px 0px;
}

#home_icons {
  height: calc(100vh / 1.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* wishlist card */
#w_card_container {
  border-bottom: 2px solid #c4c4c4;
  display: flex;
}

#w_card_img_container {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
}

#w_img {
  height: 145px;
  border-radius: 5%;
}

#w_cardBase {
  padding: 40px 15% 0px 15%;
}

#w_card_des {
  font-size: 30px;
  padding: 17px 0px 0px 10px;
  display: flex;
}

#w_card_price {
  padding: 8px 0px 0px 10px;
  font-size: 37px;
  font-weight: bold;
}

#w_card_product_details_container {
  width: 66%;
}

#w_card_r_button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
  margin-right: 10px;
  margin-top: 15%;
}
.w_card_r_button_remove_icon {
  font-size: 30px;
  color: #f87079;
}

.w_card_r_button_cart_icon {
  font-size: 30px;
  color: #36ea33;
}

#w_card_number {
  width: 55px;
  height: 29px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 9px;
  background-color: #f26722;
  border-radius: 40px;
  outline: none;
  border: none;
  text-align: center;
}

.w_add_to_card_button {
  margin: 2% auto 2% 76.5%;
}

#w_search_container {
  display: flex;
  align-items: center;
  margin: 64px 40px 0px 226px;
}

#w_search {
  width: 79%;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color: #f0f0f0;
  outline: none;
  padding: 0px 0px 0px 75px;
  font-size: 20px;
}

#w_search_btn {
  position: absolute;
  justify-content: center;
  margin-left: 25px;
  cursor: pointer;
  transition: 1s ease;
}

/* Bread come*/
#breadcomText {
  color: #666666;
}

#breadcom {
  padding-left: 48px;
  padding-top: 5px;
}

/* router link style */

a {
  color: #000;
}

.hover {
  cursor: pointer;
}

/* category container */

#cat_section {
  height: 100vh;
  overflow: hidden;
}

/* cart  */

#cart_ttitle {
  font-size: 35px;
  font-weight: 600;
  color: #666666;
  margin: 15px auto 5px 45px;
}

#cartmaindiv {
  margin: 15px 90px 30px 90px;
}

#cart_right_div {
  display: inline;
  float: right;
  border-radius: 23px;
  /* border: 3px solid #1A2572; */
  width: 40%;
  background: #f6f4f4;
  margin-bottom: 40px;
}

#cart_left_div {
  display: inline;
  float: left;
  border-radius: 23px;
  /* border: 3px solid #1A2572; */
  width: 57%;
  background: #f6f4f4;
  margin-bottom: 40px;
}

#cart_subtitle {
  font-weight: 600;
  color: #666666;
  font-size: 20px;
  margin: 30px auto 15px 35px;
}

#cart_form {
  overflow: hidden;
}

#cart_label {
  float: left;
  width: 150px;
  padding-right: 24px;
  margin-left: 60px;
}

#cart_input {
  width: 46%;
  height: 30px;
  border-radius: 40px;
  border: 1px solid #58575785;
  background: none;
  outline: none;
  /* padding: 0px 0px 0px 80px;
  margin-right: 80px;
  font-size: 15px;
  margin-top: 10px; */
  float: left;
  margin-bottom: 10px;
  /* width: calc(100% - 200px); */
}

.cart_button {
  /* float:right; */
  background: #1a2572;
  color: #fff;
  width: fit-content;
  padding: 10px 15px 10px 15px;
  margin: auto 15px 15px 15px;
}

#cartbuttonsdiv {
  overflow: hidden;
  margin-left: 35px;
  margin-bottom: 40px;
}

#c_card_price {
  margin: 3px 0px 0px 11px;
  font-size: 30px;
  font-weight: 600;
}

#c_card_des {
  font-size: 30px;
  margin: -5px 10px;
  /* padding: 0px 20px; */
  display: flex;
  font-weight: 500;
}

#c_card_number {
  font-size: 18px;
  font-weight: 700;
  background-color: #f26722;
  border-radius: 40px;
  outline: none;
  border: none;
  text-align: center;
  width: fit-content;
  padding: 0px 17px 0px 17px;
  margin: 9px 10px;
}

#cart_delete {
  display: flex;
  right: 0;
  justify-content: flex-end;
  margin: -30px 230px 0px 0px;
  padding: 20px 0px 0px 0px;
}

#c_card_r_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgb(223, 222, 222);
  cursor: pointer;
  /* margin-right: 10px;
  margin-top: 15%;
  margin-left: 50px; */
}

.c_card_r_button_remove_icon {
  font-size: 20px;
  color: #eb4d4b;
}

.c_card_r_button_cart_icon {
  font-size: 20px;
  color: #36ea33;
}

#c_card_img_container {
  display: inline-block;
  text-decoration: none;
  flex-grow: 1;
  /* background: blue; */
  width: 200px;
  /* margin: auto; */
}

#c_img {
  height: 130px;
  border-radius: 6%;
}

#c_card_product_details_container {
  /* width: 80%; */
  display: inline-block;
  flex-grow: 1;
  /* background: red; */
  width: 100px;
  margin: auto;
}

#c_card_product_details_container2 {
  /* width: 80%; */
  display: inline-block;
  flex-grow: 1;
  /* background: green; */
  width:25px;
  margin: auto;
}

#c_card_product_details_container3 {
  /* width: 80%; */
  display: inline-block;
  flex-grow: 1;
  /* background: red; */
  width: 100px;
  margin: auto;
}

#c_card_product_details_container4 {
  /* width: 80%; */
  display: inline-block;
  flex-grow: 1;
  /* background: blanchedalmond; */
  width: 10px;
  margin: auto;
}

#c_cardBase {
  padding: 40px 55px 0px 65px;
}

#c_card_container {
  border-bottom: 2px solid #c4c4c4;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-left: -35px;
}

#c_items_div {
  margin-top: -35px;
  margin-left: 10px;
  margin-bottom: 40px;
}
